:root {
--primary-color: #FFFFFF;
--secondary-color: #2E2F42;
--primary-font: 'Roboto', sans-serif;
--secondary-font: 'Raleway', sans-serif;
--primary-accent-color: #E7E9FC;
--secondary-accent-color: #4D5AE5;
--active-color: #404BBF;
--paragraph-color: #434455;
--light-bgc: #F4F4FD;
}

.list {
    list-style: none;
}

.link {
    text-decoration: none;
}

body{
    background-color: var(--primary-color);
    font-family: var(--primary-font);
    font-size: 16px;
}

/* ==========COMPONENTS========== */

.section-title {
    font-size: 36px;
    line-height: 1.11;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    color: var(--secondary-color);
}

.section-subtitle {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: var(--secondary-color);
}

.section-text {
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: var(--paragraph-color);
}

/* ==========HEADER========== */

.header {

}

.header-logo {
    font-family: var(--secondary-font);
    font-weight: 800;
    font-size: 18px;
    line-height: 1.33;
    letter-spacing: 0.03em;
    text-transform: uppercase; 
    color: var(--secondary-accent-color);
}

.header-logo-span {
    color: var(--secondary-color);
}

.menu-link {
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: var(--secondary-color);
}

.menu-link:hover,
.menu-link:active,
.menu-link:focus {
    color: var(--secondary-accent-color);
}

/* ==========CONTACTS========== */

.contacts-link {
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: var(--paragraph-color);
}

.contacts-link:hover,
.contacts-link:active,
.contacts-link:focus {
    color: var(--secondary-accent-color);
}

/* ==========HERO========== */

.hero {
    background-color: var(--secondary-color);
}

.hero-title {
    font-size: 56px;
    line-height: 1.07;
    letter-spacing: 0.02em;
    color: var(--primary-color);
}

.hero-btn {
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.04em;
    color: var(--primary-color);
    cursor: pointer;
    background-color: var(--secondary-accent-color);
}

.hero-btn:hover,
.hero-btn:active,
.hero-btn:focus {
    background-color: var(--active-color);
}

/* ========== FEATURES ========== */

.title-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
  }

/* ========== EXAMPLES ========== */


/* ========== OUR TEAM ========== */

.team {
    background-color: var(--light-bgc);
}

.team-item {
   background-color: var(--primary-color);
}

/* ========== FOOTER========== */

.footer {
    background-color: var(--secondary-color);
}

.footer-logo {
    font-family: var(--secondary-font);
    font-weight: 800;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: var(--secondary-accent-color);
}

.footer-logo-span {
    color: var(--light-bgc);
}

.footer-text {
    color: var(--primary-accent-color);
}

/* ========== FILTER========== */

.filter-btn {
    font-family: var(--primary-font);
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.04em;
    background-color: var(--primary-accent-color);
    color: var(--secondary-accent-color);
    cursor: pointer;
}

.filter-btn:hover,
.filter-btn:active,
.filter-btn:focus {
    background-color: var(--active-color);
    color: var(--primary-color);
}

/* ========== SECTION ========== */
